body {
	display: flex;
	flex-direction: column;

	min-height: 100%;

	margin: 0;
    padding: 0%;
	
	background-color: rgb(249, 249, 249);
}

/* ---------------------------- header ---------------------------- */

header {
	display: flex;
	justify-content: center;

	width: inherit;
	height: 10%;

	z-index: 1;

	background-color: pink;
	box-shadow: 0px 0px 20px #000000b1;
}

/* ---------------------------- spotlight ---------------------------- */

.spotlight-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;

	width: inherit;
	height: 90%;

	background-color: rgb(150, 150, 150);
}

.spotlight__image-container {
	width: 70%;
	height: 75%;

	background-color: lightgray;
}

.spotlight__text-container {
	width: 70%;
	height: 15%;

	background-color: lightgray;
}

/* ---------------------------- main ---------------------------- */

main {
	width: inherit;
}

.main__headline {
	display: flex;
	justify-content: center;

	padding: 1%;

	font-size: 30px;
	font-family: 'Inter-Thin';
}

/* ---------------------------- grid ---------------------------- */

.grid-container {
	display: grid;
	grid-template-columns: auto auto auto;
	gap: 40px;
	place-items: center;

	width: inherit;

	padding: 20px;
}

.grid-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 2%;

	width: 430px;
	height: 330px;
}

.grid-item__image-container {
	width: inherit;
	height: 80%;

	border: solid 10px white;

	background-color: lightgrey;
	box-shadow: 0px 0px 20px #0000006c;
}

.grid-item__image-container:hover {
	cursor: pointer;
	border-color: pink;
}

.grid-item__text-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: inherit;
	height: 20%;
}

/* ---------------------------- footer ---------------------------- */

footer {
	display: flex;
	align-items: center;
	justify-content: center;

	width: inherit;
	height: 20%;
	
	border-top: 1px solid #d3d3d3;

	background-color: white;

	
}