body {
	display: flex;
	flex-direction: column;

	min-height: 100%;

	margin: 0;
    padding: 0%;
	
}

/* ---------------------------- header ---------------------------- */

header {
	display: flex;
	justify-content: center;

	width: inherit;
	height: 10%;
}

/* ---------------------------- spotlight ---------------------------- */

.spotlight-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;

	width: inherit;
	height: 90%;

	background-color: gray;
}

.spotlight__image-container {
	width: 70%;
	height: 75%;

	background-color: lightgray;
}

.spotlight__text-container {
	width: 70%;
	height: 15%;

	background-color: lightgray;
}

/* ---------------------------- main ---------------------------- */

main {
	width: inherit;
	background-color: beige;
}

.main__headline {
	display: flex;
	justify-content: center;
}

/* ---------------------------- grid ---------------------------- */

.grid-container {
	display: grid;
	grid-template-columns: auto auto auto;
	gap: 40px;
	place-items: center;

	width: inherit;

	padding: 20px;
	
	background-color: lightblue;
}

.grid-item {
	width: 430px;
	height: 300px;
	background-color: grey;
}

/* ---------------------------- footer ---------------------------- */

footer {
	display: flex;
	align-items: center;
	justify-content: center;

	width: inherit;
	height: 20%;

	background-color: lightsalmon;
}